/* Import Google Font and Tailwind */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&display=swap');
@import "tailwindcss";

/* Set global box-sizing */
*, *::before, *::after {
  box-sizing: border-box;
}


/* Root Theme Tokens */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: "Kumbh Sans", sans-serif;
  --font-corm: "Cormorant";

  /* Custom Colors */
  --color-custom-blue: #2b2b5e;
  --color-custom-darker-blue: #252554;
  --color-insure-text-dark: #a0a0c0;
  --color-socials-gray: #46467d;
  --color-base-didi: #00cde5;
  --color-custom-dark-dol-blue:#3d3d73;

  /* Patterns */
  --pattern-header: url("./../assets/header-top-pattern.png");  
}


/* Optional: Override for light mode detection */
@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

/* Base Body Styling */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Tailwind @theme inline tokens */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --color-custom-blue: var(--color-custom-blue);
  --color-custom-darker-blue: var(--color-custom-darker-blue);
  --color-insure-text-dark: var(--color-insure-text-dark);
  --color-base-didi: var(--color-base-didi);
  --color-custom-dark-dol-blue: var(--color-custom-dark-dol-blue);
}

/* Background Utility Example */
.bg-header-pattern {
  background-image: var(--pattern-header);
  background-repeat: no-repeat;
  background-size: cover;
}

.before-custom-clip::before {
  content: '';
  position: absolute;
  height: 237px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #00CDE5;
}
.before-custom-clip-path::before {
  content: '';
  position: absolute;
  overflow: visible;
  top: -6px;
  left: -10px;
  width: 160px;
  height: 84px;
  background-color: #2B2B5E;
  clip-path: polygon(0px 0px, 100% 0px, 0% 68%);
  z-index: 1;
  transform: translate(3%, 0%);
}

/*************** Track styling ******************/

/* For Chrome/Safari (WebKit) */
input[type="range"]::-webkit-slider-runnable-track {
  height: 6px;
  background: transparent;
}

/* For Firefox (Gecko) */
input[type="range"]::-moz-range-track {
  height: 6px;
  background: transparent;
}

/**************** Thumb styling *****************/
/* For Chrome/Safari (WebKit) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 29px;
  width: 29px;
  border-radius: 50%;
  background: #2B2B5E;
  cursor: pointer;
  border: 2px solid white;
  margin-top: -12px;
}

/* For Firefox (Gecko) */
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 29px;
  width: 29px;
  border-radius: 50%;
  background: #2B2B5E;
  cursor: pointer;
  border: 2px solid white;
  margin-top: -12px;
}

/*************** Animation for Plus sign ******************/
  @keyframes plus-drop {
    0% {
      top: 38%;
      opacity: 0;
    }
    50% {
      top: 47%;
      opacity: 1;
    }
    100% {
      top: 43%;
      opacity: 1;
    }
  }

  .animate-plus-drop {
    animation: plus-drop 0.6s ease-in-out forwards;
  }


